@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
--hasblue: hsl(209, 100%, 36%);
--haslghtblue: hsl(203, 100%, 48%);
--hasgrey: hsl(204, 14%, 93%);
}

/* *{
    box-sizing: border-box;   
} */

body{
    font-family: 'Roboto', sans-serif;
}

/* Header styles */

header{
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px 0px 24px;
}

h1{
    font-size: 36px;
    font-weight: bold;
    color: var(--hasblue);
}

nav > ul{
    display: flex;
    justify-content: space-between;
}

nav li + li{
    margin-left: 34px;
}

nav li>a{
    text-decoration: none;
    color: black;  
    text-transform: uppercase;
}

nav li>a:hover{
    color: var(--haslghtblue);
}

.signup > ul{
    display: flex;
}

.signup li{
    padding: 12px;
}

.signup a{
    color: white;
}

#login{
  background-color: var(--hasblue);  
}

#login a:hover::before{
    content: "Log in!"
}

#register{
    background-color: var(--haslghtblue);  
  }

#register a:hover::before{
    content: "Register now!"
}

.md-48{
   font-size: 48px;
}

/* Banner styles */

.banner img{
    width: 100%;
    z-index: -1;
}

.banner{
    display: flex;
    justify-content: center;
    position: relative;
}

.call-to-action{
    position: absolute;
    bottom: 25%;
    text-align: center;
}

.call-to-action p{
    font-size: 48px;
    color: white;
    margin-bottom: 64px;
}

.call-to-action a{
    text-decoration: none;
    font-weight: bold;
    height: auto;
    font-size: 24px;
    color: var(--hasblue);
    padding: 24px;
    background-color: var(--hasgrey);
    border-radius: 16px;
}

.call-to-action a:hover{
    background-color: hsl(204, 14%, 83%);
}